@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./fonts/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.woff2");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.woff2");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/Gilroy-Regular.woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

/*--------------------*/

header {
  margin-top: 40px;
  margin-bottom: 84px;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  width: 533px;
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.red_letters {
  color: #f25822;
}

main {
  margin-bottom: 162px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content__left__block {
  width: 522px;
}

.main__title {
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 17px;
}

.subtitle {
  width: 466px;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 23px;
  color: #888888;
  margin-bottom: 37px;
}

.red-button {
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 15px 36px;
  border: none;
  cursor: pointer;
}

.white-button {
  font-family: "Gilroy-Bold";
  padding: 15px 36px;
  font-size: 15px;
  line-height: 18px;
  color: #aaaaaa;
  padding: 15px 36px;
  border: none;
  background: none;
  cursor: pointer;
}

.logos {
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 95px;
  cursor: pointer;
}
.upper__cards {
  margin-bottom: 92px;
}
.upper__cards__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 100px 401px 10px 404px;
}
.upper_card {
  padding-top: 40px;
  padding-right: 31px;
  padding-bottom: 25px;
  padding-left: 30px;
}
.upper_card h2 {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 25px;
}

.upper_card p {
  width: 310px;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  line-height: 150%;
  color: #666666;
  margin-top: 17px;
}

.upper_card a {
  font-family: "Gilroy-Bold";
  font-size: 11px;
  line-height: 150%;
  color: #000000;
  margin-top: 25px;
}
.central_upper_card {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.lower__cards {
  background: #fafafa;
}

.lower__title {
  font-family: "Gilroy-Bold";
  font-size: 45px;
  line-height: 53px;
  color: #000000;
  text-align: center;
  padding-top: 92px;
  margin-bottom: 19px;
}
.lower__title__text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #666666;
  width: 682px;
  margin-bottom: 54px;
}
.lower__cards__wrapper {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-left: 375px;
  margin-right: 375px;
  margin-bottom: 100px;
}
.lower__card {
  background: #FFFFFF;
}
.left__lower__picture {
  height: 270px;
}

.lower__card h2 {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 22px;
}

.lower__card p {
  font-family: "Gilroy-Regular";
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #aaaaaa;
  width: 310px;
  margin-bottom: 39px;
  margin-left: 30px;
  margin-right: 30px;
}

.lower__card button {
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  margin-right: 120px;
  margin-bottom: 50px;
  margin-left: 100px;
  border: none;
  
}
.button__text {
  font-family: "Gilroy-Bold";
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 15px 46px;
  cursor: pointer;
  width: 68px;
}
.central__lower__card {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
